{% extends 'MMSamyEditorBundle:Layout:base.html.twig' %}

{% set meta_title = scmPackage.filename %}

{% block sidebar %}
    {{ render(controller('MMSamyEditorBundle:ScmPackage:sidebar', {'scmPackage': scmPackage})) }}
{% endblock %}
{% block content %}
    <h2>SCM Package</h2>
    <p>Choose your file.</p>
{% endblock %}