<nav role="navigation" class="sidebar">
    <ul>
        {% for navitem in navitems %}
            <li>
                <a href="{{ navitem.path }}">
                    <i class="fa {{ navitem.icon }}"></i>
                    <span>{{ navitem.label }}</span>
                    <span class="badge badge-dark">1</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
