.hero {
    background: url("/bundles/mmsamyeditor/images/hero.jpg") no-repeat;
    height: 750px;
    padding: 100px 20px 0;
    position: relative;
    text-align: left;
    background-size: 100%;
}

.hero h1 {
    color: #FFFFFF;
    font-size: 4em;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 0;
}

.hero h3 {
    color:#fff;
}