table.data {
    width: 100%;
}

table.channels {
    border-collapse: collapse;

    button {
        margin: 0;
        padding: 5px 10px;
    }

    input {
        border-color: transparent;
        background: transparent !important;
        box-shadow: none;
        margin-bottom: 0;
        padding: 0;
        height: 25px;
    }
    .input-sm {
        background: $input-bg-color;
    }
    tbody td {
        padding: 5px;
    }

    tr.saving td {
        background: red !important;
    }

    td.number {
        width: 60px;
    }

    td.bool {
        width: 50px;
        text-align: center;
    }

    td.small {
        width: 100px;
    }

    td.options {
        width: 100px;
        text-align: right;
    }

    .save {
        display: none;
    }

    tr.active-row input,
    tbody tr:hover input {
        background: #555 !important;
    }

    tbody tr:hover {
        background: #444;
    }

    tbody tr.active-row {
        background: #888;
    }

    tr.unsaved .save,
    tr.active-row .save {
        display: inline;
    }

    tr.unsaved .edit,
    tr.active-row .edit {
        display: none;
    }

    td.bool {
        text-align: center;
    }
}