/* Inverted style (dark background, light font color) */
.inverted {
    background: #5B4C64;
    color: #fff;
    h1, h2, h3, h4 {
        color: #fff;
    }
}

/* Change Tab background */
.tabs {
    background: $tabs-navigation-bg-color;
}

#content {
    padding-top: 50px;
}

/* fix offset bug of tooltips*/
.tooltip {
    margin-top: -45px;
}
header {
    position: relative;
    z-index: 100; /* to push the header over the handsontable header */
}
footer {
    border-top: 1px solid #444;
    padding-top: 1em;
    text-align: center;
}

footer a {
    color: $body-font-color;
}

.blockUI h1 {
    color: #333;
}

.sub-nav {
    text-align: center;

    dt,
    dd,
    li {
        float: none !important;
    }
}

input.htCheckboxRendererInput {
    margin-bottom: 0 !important;
}
.hot-border {
    .handsontable th:first-child,
    .handsontable td:first-child {
        border-left: 0;
    }
    .handsontable thead tr:first-child th {
        border-top: 0;
    }
}
.hot-border .handsontable .manualRowMover {
    height: 22px;
    opacity: 0.5;
}
.shadow {
    text-shadow: 1px 1px #999;
}


