$primary-color: #FF7A4D;
$magellan-bg: #463750;
$topbar-bg-color: #463750;
$sub-nav-font-color: #fff;
$body-font-color: #222;
$form-label-font-color: #fff;


/*$body-bg: #222;

$header-font-color: $body-font-color;

/*$topbar-link-bg-hover: lighten(#217dbb, 30%);;*/
/*$sidebar-background: $body-bg;
$sidebar-background-hover: lighten($sidebar-background, 30%);
$isdebar-border-bottom: lighten($sidebar-background, 30%);

$input-disabled-bg: #fff;
$input-include-glowing-effect: false;
$input-focus-bg-color: #fff;

$input-bg-color: #555;
$input-focus-bg-color: $input-bg-color;

$select-bg-color: $input-bg-color;
$input-border-width: 0;


$topbar-link-bg-hover: $primary-color;
$topbar-content-bg-color: #777;*/