{% extends 'MMSamyChanBackendBundle:Layout:scmpackage.html.twig' %}

{% set meta_title = scmPackage.filename %}

{% block sidebar %}
    {{ render(controller('MMSamyChanBackendBundle:ScmPackage:subNav', {'scmPackage': scmPackage})) }}
{% endblock %}
{% block content %}
    <div class="content-padding">
        <h2>SCM Package</h2>
        <p>Choose your file.</p>
    </div>
{% endblock %}