<header ng-controller="HeaderCtrl">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/"><i class="fa fa-wrench"></i> SamyCHAN</a></h1>
            </li>
        </ul>

        <section class="top-bar-section">
            <ul>
                <li>
                    <form method="post" enctype="multipart/form-data" action="{{ uploadUrl }}">
                        <label class="file-upload">
                            <i class="fa fa-folder-open"></i> Open channel list</a>
                            <input type="file" name="form[file]" onchange="this.form.submit();"/>
                        </label>
                        <input type="hidden" name="form[series]" value="auto" />
                    </form>
                </li>

                <li class="has-dropdown">
                    <a href=""><i class="fa fa-question"></i> Help</a>
                    <ul class="dropdown">
                        <li>
                            <a href="/export-channel-list-samsung/">How to Export .SCM</a>
                        </li>
                        <li>
                            <a href="/imprint/">Imprint</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <ul class="right">
                <li class="has-form show-for-large-up">
                    <a ng-click="download()" data-reveal-id="myModal" class="button"><i class="fa fa-cloud-download"></i> Download channel list</a>
                </li>
            </ul>
        </section>
    </nav>
    <ul class="tabs">
        <li ng-repeat="(key, navItem) in navItems" class="tab-title {{ navItem.active ? 'active' : '' }}">
            <a href="{{ navItem.url }}">
                <i class="fa {{ navItem.icon }}"></i>
                <span>{{ navItem.label }}</span>
                <span class="radius label">{{ navItem.channelCount }}</span>
            </a>
        </li>
    </ul>
    <div id="modal-download" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle"><i class="fa fa-cloud-download" /> Download</h2>
        <p class="lead">Thank you for using SamyCHAN. Click the download button and save the file to your usb-stick. Afterwards you can import the file into your SAMSUNG television.</p>
        <div class="clearfix">
            <a class="button right" href="{{ downloadUrl }}" class="button" style="margin-left: 1em">Download</a>
            <a class="button secondary right" onclick="$(this).parents('.reveal-modal').foundation('reveal', 'close');" class="button">Cancel</a>
        </div>
    </div>
</header>