<!DOCTYPE html>
<html lang="en">
    {% include 'MMSamyChanFrontendBundle:Helper:head.html.twig' %}
    <body class="inverted">
        {% block raw %}{% endblock %}
        <footer>
            <a href="{{ path('mm_samychan_frontend_imprint') }}">Imprint</a>
        </footer>
        <script>
            $(document).foundation();
            $(document).foundation('magellan');
            $(document).foundation('clearing');
        </script>
    </body>
</html>
