<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SamyChan</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="Avalon Admin Theme">
    <meta name="author" content="Michael Mezger">

    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,700' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/styles.css">

<body>
    <header id="topnav" class="navbar navbar-default navbar-fixed-top clearfix" role="banner">
        <a id="leftmenu-trigger" class="" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"></a>
        <a class="navbar-brand" href="/">SamyChan</a>
        <div class="yamm navbar-left navbar-collapse collapse in">
            <ul class="nav navbar-nav">
                <li class="dropdown" id="widget-classicmenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <div id="wrapper">
        <div id="layout-static">
            {% block sidebar %}

            {% endblock %}
            <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
