<!DOCTYPE html>
<html lang="en">
    {% include 'MMSamyEditorBundle:Helper:head.html.twig' %}
    <body class="inverted">
        {% block raw %}{% endblock %}
        <footer>
            <a href="{{ path('mm_samy_editor_content_imprint') }}">Imprint</a>
        </footer>
        <script>
            $(document).foundation('clearing');
        </script>
    </body>
</html>
