{% extends 'MMSamyEditorBundle:Layout:base.html.twig' %}
{% block raw %}
    {% include 'MMSamyEditorBundle:Helper:topbar.html.twig' %}
    <div class="row">
        <div class="column" role="main" id="content">
            {% include 'MMSamyEditorBundle:Helper:flashmessages.html.twig' %}
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}