{% extends 'MMSamyEditorBundle:Layout:base.html.twig' %}

{% block raw %}
    <section class="hero">

        <div class="row">
            <div class="medium-7 large-6 columns">
                <h1>SamyCHAN</h1><br>
                <h3>The Channel Editor <br class="hide-for-small"> for SAMSUNG Televsions.</h3>
                <br>
            </div>
        </div>


        <div class="row">
            <div class="large-4 medium-6 columns">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>

    </section>
{% endblock %}