{% extends 'MMSamyEditorBundle:Layout:base.html.twig' %}

{% block raw %}
    <section class="hero">

        <div class="row">
            <div class="medium-7 large-6 columns">
                <h1>SamyCHAN</h1><br>
                <h3>The Channel Editor <br class="hide-for-small"> for SAMSUNG Televsions.</h3>
                <br>
            </div>
        </div>


        <div class="row">
            <form method="post" enctype="multipart/form-data" action="{{ path('mm_samy_editor_scm_package_upload') }}">
                <label class="file-upload button">
                    <i class="fa fa-folder-open"></i> Open .scm</a>
                    <input type="file" name="form[file]" onchange="this.form.submit();"/>
                </label>
                <input type="hidden" name="form[series]" value="auto" />
            </form>
        </div>

    </section>
    <div class="row">
        <div class="small-12">
            <h1>What is this about?</h1>
            <p>Have you ever had the problem sorting your channels on a Samsung TV? Editing all the channels by using the
            remote can be foolish. Specially if you need to do bigger changes to your channel list. SamyCHAN is the solution. You can download your channel list to a USB-Stick and open it with SamyCHAN. Now
            you can easily edit all your channels. Isn't that great?</p>

            <h1>Features</h1>
            <p>
                Currently SamyCHAN has following Features
            </p>
            <ul>
                <li>Open and Loading .SCM-File</li>
                <li>Editing the Channel-List (Cable, Satelite, ...)</li>
                <li>Modifing the Favorite-Lists (Adding Channels, Sorting)</li>
                <li>Export / Saving .SCM-File</li>
            </ul>

            <h1>Supported Series</h1>
            <p>I'm working on Support for older Series. But now following Series are supported:</p>
            <ul>
                <li>E-Series</li>
                <li>F-Series</li>
                <li>H-Series</li>
            </ul>
    </div>
{% endblock %}