{% extends 'MMSamyEditorBundle:Layout:base.html.twig' %}
{% set meta_title = 'SAMSUNG Channel Editor for D, E, F, H and J-Series' %}
{% block raw %}
    <section class="hero bottom-border">
        <div class="row">
            <div class="columns">
                <div class="hero-slogan">
                    <h1 class="shadow">SamyCHAN</h1><br>
                    <h3 class="shadow">The Channel Editor for SAMSUNG Televisions.</h3>

                    <form method="post" enctype="multipart/form-data" action="{{ path('mm_samy_editor_scm_package_upload') }}">
                        <label class="file-upload button shadow">
                            <i class="fa fa-folder-open"></i> Open SAMSUNG TV Channel-List (.scm, .zip)</a>
                            <input type="file" name="form[file]" onchange="this.form.submit();"/>
                        </label>
                        <input type="hidden" name="form[series]" value="auto" />
                        OR
                        <a href="{{ path('mm_samy_editor_demo_load') }}" class="button secondary shadow"><i class="fa fa-play"></i> Load Demo</a>
                    </form>

                </div>
            </div>
        </div>
    </section>
    <div data-magellan-expedition="fixed">
        <dl class="sub-nav">
            <dd data-magellan-arrival="samychan"><a href="#samychan">What is SamyCHAN?</a></dd>
            <dd data-magellan-arrival="series"><a href="#series">Supported series</a></dd>
            <dd data-magellan-arrival="screenshots"><a href="#screenshots">Screenshots</a></dd>
            <dd data-magellan-arrival="howto-export"><a href="#howto-export">Howto export</a></dd>
        </dl>
    </div>
    <section class="secondary">
        <div class="row">
            <div class="small-12">
                <a name="samychan"></a>
                <h1 class="shadow text-center" data-magellan-destination="samychan">What is SamyCHAN?</h1>

                <p class="text-center">Have you ever had the problem sorting your channels on a Samsung TV? Editing all the channels by using the
                remote can be annoying. Specially if you need to do bigger changes to your channel list. SamyCHAN is the solution.
                You can download your channel list to a USB-Stick and open it with SamyCHAN. Now
                you can easily edit all your channels. Isn't that great?</p>

                <div class="row features">
                    <div class="medium-4 columns">
                        <div class="round-icon">
                            <i class="fa fa-sort shadow"></i>
                        </div>
                        <h3 class="shadow">Sort</h3>
                        <p>Organize your TV's channel lists (digital, analog, dvbc, ...) and resort your channels easily.</p>
                    </div>
                    <div class="medium-4 columns">
                        <div class="round-icon">
                            <i class="fa fa-pencil shadow"></i>
                        </div>
                        <h3 class="shadow">Rename</h3>
                        <p>Edit your channel names</p>
                    </div>
                    <div class="medium-4 columns">
                        <div class="round-icon">
                            <i class="fa fa-heart shadow"></i>
                        </div>
                        <h3 class="shadow">Favorites</h3>
                        <p>Build and modify your favorites.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="primary">
        <div class="row">
            <div class="small-12">
                <a name="series"></a>
                <h1 data-magellan-destination="series" class="shadow text-center">Supported series</h1>

                <div class="row features">
                    <div class="medium-4 columns">
                        <div class="round-icon">
                            J
                        </div>
                        <h3 class="shadow">J-Series</h3>
                    </div>
                    <div class="medium-4 columns">
                        <div class="round-icon">
                            H
                        </div>
                        <h3 class="shadow">H-Series</h3>
                    </div>
                    <div class="medium-4 columns">
                        <div class="round-icon">
                            F
                        </div>
                        <h3 class="shadow">F-Series</h3>
                    </div>
                </div>
                <div class="row features">
                    <div class="medium-4 columns">
                        <div class="round-icon">
                            E
                        </div>
                        <h3 class="shadow">E-Series</h3>
                    </div>
                    <div class="medium-4 columns">
                        <div class="round-icon">
                            D
                        </div>
                        <h3 class="shadow">D-Series</h3>
                    </div>
                    <div class="medium-4 columns">
                    </div>
                </div>
        </div>
    </section>
    <section class="secondary">
        <div class="row">
            <div class="small-12">
                <a name="screenshots"></a>
                <h1 class="shadow text-center" data-magellan-destination="screenshots">Screenshots</h1>

                <p class="text-center">Do you want to get some impressions of SamyCHAN in action? Here are some screens.</p>
                <ul class="clearing-thumbs" data-clearing>
                    <li><a href="/bundles/mmsamyeditor/images/screenshot1.png"><img src="/bundles/mmsamyeditor/images/screenshot1.png" width="300"></a></li>
                    <li><a href="/bundles/mmsamyeditor/images/screenshot2.png"><img src="/bundles/mmsamyeditor/images/screenshot2.png" width="300"></a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="primary">
        <div class="row">
            <div class="small-12">
                <a name="howto-export"></a>
                <h1 class="shadow text-center" data-magellan-destination="howto-export">Howto export the channel-list from your SAMSUNG TV</h1>
                <p>
                    Have you just bought a brandnew hightech samsung television? Congratulations.
                    Sorting the favorite channels is probably one of the first things you do. Nowadays, specially with hundreds or thounds of
                    channels, this task can be a very cumbersome. Moving channels by using the remote, e.g. from #343 to #23, takes some
                    time. To make things easier, i have written this tool. With SamyCHAN you can organize your channel list very comfortable.
                </p>
                <h2>Export your channel list as .SCM</h2>
                <p>
                    Want to start now? No problem. Basically the procedure is the following:
                </p>
                <ol>
                    <li>Export channel list (.scm) to a usb-stick</li>
                    <li>Open it with SamyCHAN, edit and save it</li>
                    <li>Import channel list (.scm) from usb-stick</li>
                </ol>
                <h2>Where do i find the export-option?</h2>
                <p>
                    Every SAMSUNG television (at least since the b-series) has the posibility to export the channels. The magic option
                    is <code>transfer channel list</code>. This options is sometimes a bit hidden.
                </p>
                <ol>
                    <li>Open the <code>Menu</code></li>
                    <li>Go to the main item <code>Broadcasting</code></li>
                    <li>Open <code>channel settings</code> (last item)</li>
                    <li>choose <code>transfer channel list</code></li>
                    <li>enter your pin (default: 0000)</li>
                </ol>
            </div>
        </div>
    </section>
{% endblock %}