{% extends 'MMSamyEditorBundle:Layout:content.html.twig' %}

{% block content %}
    <h1>Upload .scm-File (Samsung Channel-File)</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}